.App{
    text-align: center;
    justify-content: center;
    background-color: antiquewhite;
    color: darkred;
}

h1{
    text-align: center;
    justify-content: center;
    background-color: antiquewhite;
    color:black;
}

.bigbutton{
    font-size: 10em;
 width:3em;
 height:3em;
}

.bigtext{
    font-size: 10em;
}